.BrandsLayout {
    display: flex;
    width: auto;
    height: 236px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 68px 22px;


}

.LogosLayout {
    display: flex;

    padding-bottom: 24px;
}



.logo {
    display: flex;


}

.LogosLayout.h1 {

    color: #13101E;

    /* Heading/S-34px */
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 129.412% */


}

.Brandsgrid {

    display: flex;
    width: auto;
    height: 168px;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 56px;
}

.logos {
    width: 168px;
    height: 168px;
    border-radius: 16px;
    background-color: #F4F4F4;
}

.biba {
    width: 115px;
    height: 40px;
    flex-shrink: 0;
    padding: 68px 26px 60px 27px;
    background: url('../assets/bibalogo.png');
    background-repeat: no-repeat;






}