.detailsPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.top {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.rightdetails {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
    float: right;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    display: block;

}

.h1 {
    color: #13101E;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    padding-bottom: 0;

}

.coach {
    color: #626262;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

}

.rating {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    flex-wrap: nowrap;

}

.price {
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.new-price {
    color: #171520;

    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;

}

.old-price {
    color: #b6b6b687;
    text-align: right;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: line-through;
}

.discount {
    color: #FF404B;
    text-align: right;


    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

}

.quentity {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.buttons .mycart Button {
    display: flex;
    width: 328px;
    padding: 10px 120px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #1B4B66;
}

.buttons .wishlist Button {
    display: flex;
    width: 240px;
    padding: 10px 80px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid #1B4B66;
    background: #FFF;
}

.buttontit {
    display: flex;
    align-items: center;
    width: 100px;
    height: 24px;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 171.429% */
}

.buttontit.bag {
    color: ivory;
}

.buttontit.wishlist {
    color: #1B4B66;
}


.leftdetails {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.productimg img {
    width: 605px;
    height: 605px;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}

.productimagelist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 473px;
    height: 75px;
}

.productimagelist img {
    width: 75px;
    height: 75px;
    margin-right: 8px;
}

.productimagelist Button {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border: none;
}

.buttomdetails {
    display: flex;
    width: 1240px;
    height: 48px;
    padding: 8px 16px;
    align-items: center;
    gap: 24px;
    border-radius: 12px;

}