.Footerlayout {


    width: auto;
    height: 342px;
    top: 2626px;
    left: 1px;
    display: flex;
    justify-content: space-between;
    background-color: #1B4B66;


}

a {
    text-decoration: none;
    color: #ffffff;

}

.Footernav {
    float: left;
    width: 30%;
    padding: 20px;
    background-color: #1B4B66;
}

.shopByCategory h3 {
    color: #ffffff;
}

.shopByCategory ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.shopByCategory li {
    margin-bottom: 10px;
}

.FooterLogo {
    width: 70%;
    background-color: #1B4B66;
    color: #ffffff;
    display: grid;
    align-content: center;
    justify-items: end;
    padding-right: 20px;
}




.socialMedia {
    display: flex;
    float: right;
    padding: 20px;
}

.location {
    display: flex;


}

.rightreserved {
    font-size: 12px;
}

.socialMedia svg {
    font-size: 24px;
    margin-right: 10px;
}